/* [07202312RIN] Create css checkout */
:root {
  --primary-color: #2196f3;
  --secondary-color: #fcaf78;
  --darken-primary-color: #087ef4;
  --darken-secondary-color: #825e45;
}
html * {
  margin: 0;
  padding: 0;
}
body {
  color: #555;
}
.hover:hover {
  opacity: 0.9;
  cursor: pointer;
}
.breadcrumb {
  text-transform: uppercase;
}
.breadcrumb-item a {
  text-decoration: none;
  color: var(--primary-color);
}
.header {
  font-size: 30px;
  text-align: center;
}
th,
td {
  padding: 20px;
  color: #888;
}
.product {
  display: flex;
  align-items: center;
}
.product-img {
  height: 100px;
  width: 100px;
  object-fit: cover;
  margin-right: 20px;
}
.product-type {
  text-transform: uppercase;
  letter-spacing: 1px;
}
.product-name {
  margin: 2px 0 8px;
}

.product-edit,
.product-remove {
  color: var(--secondary-color);
  border-bottom: 1px solid var(--secondary-color);
}
.quantity-actions {
  display: flex;
  align-items: baseline;
  justify-content: center;
}
.quantity-actions i {
  border-radius: 50%;
  border: 2px solid #888;
  font-size: 14px;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.product-quantity {
  margin: 0 16px;
}
/* [09202312RIN] Create Invoice info */
.invoice-container {
  display: flex;
  justify-content: end;
  gap: 25px;
  margin-top: 40px;
}
.promo-input {
  padding: 12px;
  border-radius: 4px;
  outline: none;
  border: 1px solid var(--darken-secondary-color);
  color: var(--darken-secondary-color);
  font-weight: 500;
  width: 280px;
}
.promo-input::placeholder {
  color: var(--darken-secondary-color);
}
.promo-btn {
  background-color: var(--darken-secondary-color);
  color: white;
  padding: 12px 24px;
  border: none;
  margin-left: 15px;
  border-radius: 4px;
}
.title {
  color: var(--darken-secondary-color);
  font-weight: 500;
}
.price {
  color: var(--darken-secondary-color);
}

.price.active {
  color: var(--secondary-color);
  font-weight: 500;
}
.update-btn,
.checkout-btn {
  width: 100%;
  height: 50px;
  border-radius: 4px;
  background-color: white;
  color: var(--darken-secondary-color);
  border: 1px solid var(--darken-secondary-color);
  font-weight: 500;
  font-size: 14px;
}
.checkout-btn {
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
  color: white;
}
@media (max-width: 992px) {
  th,
  td {
    padding: 5px;
  }
}
@media (max-width: 768px) {
  .product-img {
    height: 60px;
    width: 60px;
    margin-right: 10px;
  }
  .product-name {
    font-size: 16px;
    margin: 0;
  }
  .product-quantity {
    margin: 0 8px;
  }
  .mb-hidden {
    display: none;
  }
  .invoice-container {
    justify-content: center;
    width: 100%;
  }
  .invoice-info {
    width: 100%;
  }
  .promo-input {
    width: 100%;
  }
}
@media (max-width: 576px) {
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr {
    border: 1px solid #ccc;
  }

  td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
  }

  td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }
  td:nth-of-type(1):before {
    content: "Product Info";
  }
  td:nth-of-type(2):before {
    content: "Grain";
  }
  td:nth-of-type(3):before {
    content: "Size";
  }
  td:nth-of-type(4):before {
    content: "Quantity";
  }
  td:nth-of-type(5):before {
    content: "Price";
  }
  .quantity-actions {
    justify-content: start;
  }
}
