/* [08202312RIN] Create base home.css */
:root {
  --primary-color: #2196f3;
  --secondary-color: #eaeaea;
  --darken-primary-color: #087ef4;
  --seated-color: green;
  --allocated-color: rgb(0, 60, 128);
  --arrived-color: rgb(192, 43, 2);
  --invoice-width: 400px;
}
html * {
  margin: 0;
  padding: 0;
}
body {
  background-color: #f1f5f6;
}
.hover:hover {
  opacity: 0.9;
  cursor: pointer;
}
.table {
  padding: 24px 30px;
  border: 1px solid #0000003a;
  border-radius: 4px;
  display: flex;
  align-items: center;
  height: 120px;
  background-color: white;
  gap: 20px;
}
.table-number {
  font-weight: 600;
  padding: 8px 12px;
  background-color: #aeaeae;
  color: white;
  border-radius: 20px;
}
.table-status {
  color: #aeaeae;
  margin-bottom: 0;
  line-height: 1;
}
.table-time {
  font-weight: 500;
  color: #999;
}
.table-time__bar {
  display: none;
  margin-top: 10px;
  position: relative;
  border-radius: 4px;
  width: 120px;
  height: 5px;
  background-color: #ccc;
}
.table-time__bar::after {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  width: 100px;
  height: 100%;
  border-radius: 4px;
}
.table--seated .table-time__bar,
.table--arrived .table-time__bar,
.table--allocated .table-time__bar {
  display: block;
}
.table--seated .table-number,
.table--seated .table-time__bar:after {
  background-color: var(--seated-color);
}
.table--arrived .table-number,
.table--arrived .table-time__bar:after {
  background-color: var(--arrived-color);
}
.table--allocated .table-number,
.table--allocated .table-time__bar:after {
  background-color: var(--allocated-color);
}
.table--seated .table-status {
  color: var(--seated-color);
}
.table--arrived .table-status {
  color: var(--arrived-color);
}
.table--allocated .table-status {
  color: var(--allocated-color);
}
/* [08202312RIN] invoice */

.invoice {
  height: 100vh;
  width: var(--invoice-width);
  background-color: #515971;
  color: #eee;
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  box-shadow: 1px 5px 15px #00000023;
  font-size: 18px;
  transition: all 0.5s;
  transform: translateX(100%);
  opacity: 0;
  overflow: hidden;
}
.invoice.open {
  opacity: 1;
  transform: translateX(0);
}

.invoice__header {
  position: relative;
  z-index: 55;
  padding: 20px 0;
  border-bottom: 1px solid #ffffff24;
}
.invoice-table__number {
  border-radius: 20px;
  margin: auto;
  width: fit-content;
  font-weight: 800;
  font-size: 30px;
  text-decoration: underline;
  letter-spacing: 1px;
}
.invoice-table__status {
  text-align: center;
  font-size: 14px;
  letter-spacing: 1px;
}

.invoice-close {
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  font-size: 14px;
}
.invoice-datetime {
  font-size: 14px;
  color: #ccc;
  font-weight: 500;
}
.invoice-payment-select {
  text-align: center;
  border: 2px solid var(--secondary-color);
  border-radius: 10px;
  font-size: 14px;
  font-weight: 700;
  color: #ddd;
  padding: 8px 0px;
  width: 100%;
}
.invoice-payment-select:hover {
  opacity: 0.9;
  cursor: pointer;
}
.invoice-payment-select.active {
  color: #333;
  background-color: var(--secondary-color);
}
.invoice-checkout {
  color: #ddd;
  background-color: var(--primary-color);
  border-radius: 10px;
  width: 100%;
  padding: 16px;
  text-align: center;
  font-weight: 600;
  margin-top: 25px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
@media (max-width: 768px) {
  .invoice {
    width: 100%;
  }
}
